.img-div{
    width: 100px;
    height: 100px;
    background-color: rgb(27, 26, 27);
}

/* Page center */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #88898a, #686163);
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Upload box */
.img-div {
  width: 250px;
  height: 250px;
  border: 2px dashed #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  text-align: center;
  transition: all 0.3s ease;
  background: rgba(255,255,255,0.1);
}

/* Hover effect */
.img-div:hover {
  background: rgba(255,255,255,0.2);
  transform: scale(1.05);
}

/* Upload text */

h1 {
  color: #fff;
  margin-bottom: 20px;
}

.img-div h3 {
  font-weight: 500;
  
}

/* Image preview */
img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: right;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

/* Hover image */
img:hover {
  transform: scale(1.05);
}

input{
    border: none;
}